.mc-attachment {
  display: block;
  text-indent: -9999px;
  width: 41px;
  height: 51px;
  background-size : 41px 51px;
}

.mc-attachment-box{
  border: 1px solid #D1D1D1;
  height: 70px;
  width: 260px;
  border-radius: 4px;
  padding: 8px 5px 0px 9px;
  margin: 10px 10px 0 0;
  color: black;
  cursor: pointer;

  &:hover{
    background-color:$mc-color-lightyellow;
  }


  .close{
    font-size: 18px;
    margin: -8px 0 0 0;
  }

  .mc-attachment{
    float: left;
  }
  .mc-attachment-info{
    float: left;
    margin: 0 0 0 10px;
    width: 180px;
    .mc-attachment-title{
      width: 100%;
      overflow: hidden;
      height: 20px;
      font-size: 14px;
    }
    .mc-attachment-size{
      font-size: 12px;
      margin: 12px 0 0 0;
      color: #a1a1a1;
    }
    .mc-progress-percent{
      font-size: 11px;
      text-align: center;
      color: #a1a1a1;
    }
    .progress{
      height: 10px;
      margin: 4px 0 0 0;
      border-radius: 2px;
    }

  }

}

.mc-attachment-filehub{
  height: 52px;
  width: 260px;
  cursor: pointer;

  .mc-attachment{
    float: left;
  }
  .mc-attachment-info{
    float: left;
    margin: 0 0 0 10px;
    width: 180px;
    .mc-attachment-title{
      width: 100%;
      height: 14px;
      font-size: 14px;
    }
    .mc-attachment-size{
      font-size: 12px;
      margin: 12px 0 0 0;
      color: #a1a1a1;
    }
    .mc-progress-percent{
      font-size: 11px;
      text-align: center;
      color: #a1a1a1;
    }
    .progress{
      height: 10px;
      margin: 4px 0 0 0;
      border-radius: 2px;
    }

  }

}

.mc-attachment-ai {
  @extend .mc-attachment;
  background-image: url(svg/ai.svg);
}

.mc-attachment-audio {
  @extend .mc-attachment;
  background-image: url(svg/audio.svg);
}

.mc-attachment-cal {
  @extend .mc-attachment;
  background-image: url(svg/cal.svg);
}

.mc-attachment-doc {
  @extend .mc-attachment;
  background-image: url(svg/doc.svg);
}

.mc-attachment-excl {
  @extend .mc-attachment;
  background-image: url(svg/excl.svg);
}

.mc-attachment-exe {
  @extend .mc-attachment;
  background-image: url(svg/exe.svg);
}

.mc-attachment-keynote {
  @extend .mc-attachment;
  background-image: url(svg/keynote.svg);
}

.mc-attachment-pdf {
  @extend .mc-attachment;
  background-image: url(svg/pdf.svg);
}

.mc-attachment-ppt {
  @extend .mc-attachment;
  background-image: url(svg/ppt.svg);
}

.mc-attachment-ps {
  @extend .mc-attachment;
  background-image: url(svg/ps.svg);
}

.mc-attachment-sketch {
  @extend .mc-attachment;
  background-image: url(svg/sketch.svg);
}

.mc-attachment-txt {
  @extend .mc-attachment;
  background-image: url(svg/txt.svg);
}

.mc-attachment-unknow {
  @extend .mc-attachment;
  background-image: url(svg/unknow.svg);
}

.mc-attachment-video {
  @extend .mc-attachment;
  background-image: url(svg/video.svg);
}

.mc-attachment-zip {
  @extend .mc-attachment;
  background-image: url(svg/zip.svg);
}