@import "../css/_bootstrap";

.mc-button {
  @extend .btn;
  @extend .btn-default;
}

.mc-button-primary {
	@extend .btn;
 	@extend .btn-primary;
 	background-color: #4A90E2;
 	border-color: #4A90E2;

 	:hover,:focus,:active{
 		background-color: #326DB2;
 	}
}

.mc-button-danger {
	@extend .btn;
	@extend .btn-danger;
}

.mc-button-small {
	@extend .btn-sm;
}

.mc-button-big {
	@extend .btn-lg;
}

.mc-button-link{
	@extend .btn;
	@extend .btn-link;
}

.mc-button-nobg{
	@extend .btn;
	@extend .btn-default;

	background:none;
	border-style:none;
	font-size:20px;
	color:#666666;
}
