.mc-button {
  @extend .btn;
  @extend .btn-default;
  outline:0;
  &:hover{
    transition: 0.3s;
  }
}

.mc-button-primary {
	@extend .btn;
 	@extend .btn-primary;
 	background-color: #4A90E2;
 	border-color: #4A90E2;
 	text-shadow: 0 0 0.5px #555555;
 	font-weight: 400;
 	&:hover{
 		background-color: #2C7CD9 !important;
    border-color: #2C7CD9 !important;
    transition: 0.3s;
 	}
 	outline:0;
}

.mc-button-danger {
	@extend .btn;
	@extend .btn-danger;
}

.mc-button-small {
	@extend .btn-sm;
}

.mc-button-big {
	@extend .btn-lg;
}

.mc-button-link{
	@extend .btn;
	@extend .btn-link;
	outline:0;
}

.mc-button-link-danger{
	@extend .mc-button-link;
	color: #d9534f;
	outline:0;
}

.mc-button-nobg{
	@extend .btn;
	@extend .btn-default;

	background:none;
	border-style:none;
	font-size:18px;
	color:#B6B6B6;
  &:hover{
    color: #6D6D6D;
    transition: 0.3s;
  }
}


