@import "../css/_bootstrap";

.mc-button {
  @extend .btn;
  @extend .btn-default;
}

.mc-button-primary {
	@extend .btn;
 	@extend .btn-primary;
 	background-color: #4A90E2;
 	border-color: #4A90E2;

 	:hover,:focus,:active{
 		background-color: #326DB2;
 	}
}

.mc-button-danger {
	@extend .btn;
	@extend .btn-danger;
}

.mc-button-small {
	@extend .btn-sm;
}

.mc-button-big {
	@extend .btn-lg;
}

.mc-button-link{
	@extend .btn;
	@extend .btn-link;
}

.mc-button-nobg{
	@extend .btn;
	@extend .btn-default;

	background:none;
	border-style:none;
	font-size:20px;
	color:#666666;
}

///Compose


.mc-compose{

  @extend .panel;
  @extend .panel-default;

  width:480px;
  height:440px;
  background-color:white;
  box-shadow: 0px 0px 8px #A8A8A8;

}

.mc-compose-header{
  @extend .panel-heading;

  float: left;
  width: 100%;
  padding: 6px 10px 6px 15px;

  .mc-button-nobg{
  	float:right;
  	font-size:14px;
  }
}

.mc-compose-title{
  @extend .panel-title;
	
	float: left;
  font-size: 14px;
  line-height: 28px;
}

.mc-compose-body{
  @extend .panel-body;
  float: left;

}

.mc-compose-footer{
  @extend .panel-footer;
}

/////Label

.mc-label{
  @extend .label;
  @extend .label-default;
  font-weight: normal;
}

.mc-label-threadlist{
  @extend .mc-label;
  font-size: 11px;
}

