$green: #7ED321;
$blue: #18D7AC;
$orange: #F5A623;

@font-face {
  font-family: 'mailcup';
  src:url('fonts/mailcup.eot?-xfo7q1');
  src:url('fonts/mailcup.eot?#iefix-xfo7q1') format('embedded-opentype'),
    url('fonts/mailcup.woff?-xfo7q1') format('woff'),
    url('fonts/mailcup.ttf?-xfo7q1') format('truetype'),
    url('fonts/mailcup.svg?-xfo7q1#mailcup') format('svg');
  font-weight: normal;
  font-style: normal;
}

label {
  margin-bottom:-4px !important;
  margin-right: 10px;

  font-family: 'mailcup';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 62.5%;
}

[id^="mc-checkbox-"] + label {
  padding: 9px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}

[id^="mc-checkbox-green"] + label, [id^="mc-checkbox-green"]:checked + label {
  background-color: $green;
}
[id^="mc-checkbox-blue"] + label, [id^="mc-checkbox-blue"]:checked + label {
  background-color: $blue;
}
[id^="mc-checkbox-orange"] + label, [id^="mc-checkbox-orange"]:checked + label {
  background-color: $orange;
}

[id^="mc-checkbox-"]:checked + label:after {
  content: '\e605';
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  padding: 1px 0 0 0;
  vertical-align: middle;
}