$mc-color-darkblue: #282A36;
$mc-color-lightgrey: #F1F1F1;
$mc-color-lightyellow: #FFFFFB;

$mc-color-darkborder: #979797;
$mc-color-lightborder: #D6D6D6;
$mc-color-midgrey: #919191;

$mc-color-midblue: #4A90E2;


.darkblue {
	background-color: $mc-color-darkblue;
}

.lightgrey {
	background-color: $mc-color-lightgrey;
}

.lightyellow {
	background-color: $mc-color-lightyellow;
}

.darkborder {
	background-color: $mc-color-darkborder;
}

.lightborder {
	background-color: $mc-color-lightborder;
}

.midgrey {
	background-color: $mc-color-midgrey;
}

.midblue {
	background-color: $mc-color-midblue;
}

.mc-color-icon-midblue{
  color: $mc-color-midblue
}

.mc-color-icon-midgreen{
  color: #7ED321;
}

.mc-color-default {
  background-color: #777;
}

.mc-color-primary {
  background-color: #337ab7;
}

.mc-color-success {
  background-color: #5cb85c;
}

.mc-color-info {
  background-color: #5bc0de;
}

.mc-color-warning {
  background-color: #f0ad4e;
}

.mc-color-danger {
  background-color: #d9534f;
}
