.mc-compose{

  @extend .panel;
  @extend .panel-default;

  width:480px;
  background-color:white;
  box-shadow: 0px 0px 8px #A8A8A8;

}

.mc-compose-header{
  @extend .mc-modal-header;

  width: 100%;
  padding: 6px 10px 6px 15px;
  color: #fff !important;
  background-color: #313236 !important;

  .mc-button-nobg{
    margin-top: 0;
    float:right;
    font-size:14px;
    color: #fff;
    &:hover{
      background-color: #424242;
    }
  }
}

.mc-compose-title{
  @extend .panel-title;
  
  float: left;
  font-size: 14px;
  line-height: 28px;
}

.mc-compose-body{
  @extend .mc-modal-body;
  max-height: 400px;
  padding: 0;

  .mc-compose-body-label {
    width:100%;
    height: 45px;
    line-height: 45px;
    border-bottom:1px solid #ECECEC;
    padding-left: 14px;
    span{
      padding: 0 6px;
      cursor: pointer;
      float: right;
    }
    input{
      width: 375px;
      height: 42px;
      padding:0;
      border:0;
      margin-top:1px;
      outline: none;
    }
    &.cc, &.bcc {
      display: none;
    }
  }

  .mc-compose-body-editor{
    &:focus{
      outline: none;
    }
    padding: 10px;
    height: 200px;
    max-height: 280px;
    overflow-y: scroll;
  }
}

.mc-compose-footer{
  @extend .mc-modal-footer;
  .mc-compose-footer-left{
    @extend .mc-modal-footer-left;
  }
  .mc-compose-footer-right{
    @extend .mc-modal-footer-right;
    button{
      padding: 6px 20px;
    }
  }

}

