@font-face {
  font-family: 'mailcup';
  src:url('fonts/mailcup.eot?bccvj5');
  src:url('fonts/mailcup.eot?#iefixbccvj5') format('embedded-opentype'),
    url('fonts/mailcup.woff?bccvj5') format('woff'),
    url('fonts/mailcup.ttf?bccvj5') format('truetype'),
    url('fonts/mailcup.svg?bccvj5#mailcup') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mc-icon-"], [class*=" mc-icon"] {
  font-family: 'mailcup';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-icon-template:before {
  content: "\e600";
}

.mc-icon-clip:before {
  content: "\e601";
}

.mc-icon-back:before {
  content: "\e602";
}

.mc-icon-close:before {
  content: "\e603";
}

.mc-icon-alldone:before {
  content: "\e604";
}

.mc-icon-done:before {
  content: "\e605";
}

.mc-icon-expand:before {
  content: "\e606";
}

.mc-icon-dropdown:before {
  content: "\e607";
}

.mc-icon-focus:before {
  content: "\e608";
}

.mc-icon-pin:before {
  content: "\e609";
}

.mc-icon-fontcolor:before {
  content: "\e60a";
}

.mc-icon-forward:before {
  content: "\e60b";
}

.mc-icon-inbox:before {
  content: "\e60c";
}

.mc-icon-label:before {
  content: "\e60d";
}

.mc-icon-more:before {
  content: "\e60e";
}

.mc-icon-clock:before {
  content: "\e60f";
}

.mc-icon-reply:before {
  content: "\e610";
}

.mc-icon-replyall:before {
  content: "\e611";
}

.mc-icon-search:before {
  content: "\e612";
}

.mc-icon-setting:before {
  content: "\e613";
}

.mc-icon-textlist:before {
  content: "\e614";
}

.mc-icon-numlist:before {
  content: "\e615";
}

.mc-icon-text:before {
  content: "\e616";
}

.mc-icon-bold:before {
  content: "\e617";
}

.mc-icon-litaic:before {
  content: "\e618";
}

.mc-icon-textsize:before {
  content: "\e619";
}

.mc-icon-underline:before {
  content: "\e61a";
}

.mc-icon-unfocus:before {
  content: "\e61b";
}