@font-face {
  font-family: 'mailcup';
  src:url('fonts/mailcup.eot?aqnyoo');
  src:url('fonts/mailcup.eot?#iefixaqnyoo') format('embedded-opentype'),
    url('fonts/mailcup.ttf?aqnyoo') format('truetype'),
    url('fonts/mailcup.woff?aqnyoo') format('woff'),
    url('fonts/mailcup.svg?aqnyoo#mailcup') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mc-icon-"], [class*=" mc-icon-"] {
  font-family: 'mailcup';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-icon-arrow-down-sm:before {
  content: "\e627";
}
.mc-icon-arrow-right-sm:before {
  content: "\e628";
}
.mc-icon-clip:before {
  content: "\e600";
}
.mc-icon-template:before {
  content: "\e601";
}
.mc-icon-back:before {
  content: "\e602";
}
.mc-icon-close:before {
  content: "\e603";
}
.mc-icon-done-all:before {
  content: "\e604";
}
.mc-icon-done:before {
  content: "\e605";
}
.mc-icon-caret-right:before {
  content: "\e606";
}
.mc-icon-caret-left:before {
  content: "\e607";
}
.mc-icon-caret-up:before {
  content: "\e608";
}
.mc-icon-caret-down:before {
  content: "\e609";
}
.mc-icon-arrow-left:before {
  content: "\e60a";
}
.mc-icon-arrow-right:before {
  content: "\e60b";
}
.mc-icon-arrow-up:before {
  content: "\e60c";
}
.mc-icon-arrow-down:before {
  content: "\e60d";
}
.mc-icon-focus:before {
  content: "\e60e";
}
.mc-icon-pin:before {
  content: "\e60f";
}
.mc-icon-font-color:before {
  content: "\e610";
}
.mc-icon-forward-up:before {
  content: "\e611";
}
.mc-icon-forward-down:before {
  content: "\e612";
}
.mc-icon-forward:before {
  content: "\e613";
}
.mc-icon-inbox:before {
  content: "\e614";
}
.mc-icon-label:before {
  content: "\e615";
}
.mc-icon-more:before {
  content: "\e616";
}
.mc-icon-clock:before {
  content: "\e617";
}
.mc-icon-plus:before {
  content: "\e618";
}
.mc-icon-spam:before {
  content: "\e619";
}
.mc-icon-trash:before {
  content: "\e61a";
}
.mc-icon-reply:before {
  content: "\e61b";
}
.mc-icon-reply-all:before {
  content: "\e61c";
}
.mc-icon-search:before {
  content: "\e61d";
}
.mc-icon-setting:before {
  content: "\e61e";
}
.mc-icon-list-text:before {
  content: "\e61f";
}
.mc-icon-list-num:before {
  content: "\e620";
}
.mc-icon-text:before {
  content: "\e621";
}
.mc-icon-text-bold:before {
  content: "\e622";
}
.mc-icon-text-italic:before {
  content: "\e623";
}
.mc-icon-text-size:before {
  content: "\e624";
}
.mc-icon-underline:before {
  content: "\e625";
}
.mc-icon-unfocus:before {
  content: "\e626";
}
