.mc-label{
  @extend .label;
  @extend .label-default;
  font-weight: normal;
  font-size: 11px;
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  margin-right: 4px;

  &:hover{
    opacity:0.7;
  }
}

.mc-label-threadlist{
  @extend .mc-label;

  :hover,:focus,:active{
    opacity:0.7;
  }
}

.mc-label-primary{
  @extend .mc-label;
  @extend .label-primary;
}

.mc-label-danger{
  @extend .mc-label;
  @extend .label-danger;
}

.mc-label-success{
  @extend .mc-label;
  @extend .label-success;
}

.mc-label-info{
  @extend .mc-label;
  @extend .label-info;
}

.mc-label-warning{
  @extend .mc-label;
  @extend .label-warning;
}


#mc-label-select{
  width: 228px;
}