.mc-label{
  @extend .label;
  @extend .label-default;
  font-weight: normal;
  font-size: 11px;
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  margin-right: 4px;

  &:hover{
    opacity:0.7;
  }
}

.mc-label-threadlist{
  @extend .mc-label;

  :hover,:focus,:active{
    opacity:0.7;
  }
}

.mc-label-primary{
  @extend .mc-label;
  @extend .label-primary;
}

.mc-label-danger{
  @extend .mc-label;
  @extend .label-danger;
}

.mc-label-success{
  @extend .mc-label;
  @extend .label-success;
}

.mc-label-info{
  @extend .mc-label;
  @extend .label-info;
}

.mc-label-warning{
  @extend .mc-label;
  @extend .label-warning;
}

.mc-label-box {
  float: left;
  width: 10px;
  height: 10px;
  margin: 11px 11px 11px 2px;
  background-color: #7ED321;
  border-radius: 1px;
}

.mc-label-grey{
  @extend .mc-label;
  @extend .mc-label-box;
}

.mc-label-blue{
  @extend .mc-label-primary;
  @extend .mc-label-box;
}

.mc-label-red{
  @extend .mc-label-danger;
  @extend .mc-label-box;
}

.mc-label-cyan{
  @extend .mc-label-info;
  @extend .mc-label-box;
}

.mc-label-yellow{
  @extend .mc-label-warning;
  @extend .mc-label-box;
}

.mc-label-green{
  @extend .mc-label-success;
  @extend .mc-label-box;
}

#mc-label-select{
  width: 228px;
}