.mc-leftmenu{
	float:left;
	width:210px;
	height:100%;
	background-color:$mc-color-darkblue;
	color:$mc-color-midgrey;
	box-shadow:-6px 0px 6px rgba(20,21,27,.5) inset; 	
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.mc-leftmenu-logo{
	margin: 22px 0 20px 17px;
	width:103px;
	height:24px;
	background-image: url(svg/Mailcup-logo.svg);
	background-repeat:no-repeat;
}

.mc-leftmenu-icon{
	float:left;
	font-size:16px;
	line-height:32px;
	padding:0 8px 0 0;
}

.mc-leftmenu-item-label{
	float:left;
	width:10px;
	height:10px;
	margin:11px 11px 11px 2px;
	background-color:#7ED321;
	border-radius: 1px;
}

.mc-leftmenu-section{
	margin: 10px 0 10px 0;
	float:left;
	width:100%;

	.mc-leftmenu-section-title{
		padding:0 0 12px 6px;
		font-size:12px;
		line-height:12px;
		width:100%;
		float:left;
		clear:both;

		.glyphicon-triangle-bottom, .glyphicon-triangle-right{
			float:left;
			font-size:10px;
			ling-height:8px;
			padding:0 5px 0 0;
			cursor: pointer;

		}

		.mc-left-menu-section-text{
			font-size:12px;
			line-height:15px;
			cursor:pointer;


		}
	}

	.mc-leftmenu-section-ul{
		font-size:13px;
		line-height:32px;
		list-style-type:none;
		padding:0px;
		float:left;
		width:100%;
		a{
			color:$mc-color-midgrey;
			text-decoration:none;
			letter-spacing: 0.3px;
  		text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);

			:hover{
				transition: 0.3s;
				color:$mc-color-midgrey;
				background-color:#191A22;
			}
		}

		.active{
			color:white;
			font-weight: 500;
			:hover{
				color:white;
			}
		}

		.active-ind{
			float:left;
			width:5px;
			background-color:#FFCB00;
			height:32px;
		}

		li{
			padding:0 0 0 20px;
		}
	}
}

.mc-leftmenu-footer {
  margin: 10px 0 0 0;
	height: 60px;
  background: $mc-color-darkblue;
  padding: 12px 0 0 0;

	.btn-group{
		margin: 0 0 0 18px;
	}

	.mc-leftmenu-footer-button{
		color:$mc-color-midgrey;
	  text-decoration: none;
	  line-height: 32px;
	  padding: 0px;
	  font-size: 13px;
	}
}

.mc-leftmenu-fixed {
	padding: 0 0 0px 6px;
  position: fixed;
  z-index: 1030;
  bottom: 0;
  width: 210px;
}
