.mc-messagelist{
  float: left;
  width: 100%;
  padding: 20px 30px 0px 30px;
  
  .mc-section{
    float:left;
    background-color:white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    width:100%;
  }
}

.mc-messagelist-item{
  float:left;
  width: 100%;

  .mc-messagelist-item-left{
    width: 70px;
    height: 75px;
    position: absolute;
    .mc-avatar-mid{
      margin: 15px 14px 15px 0;;
      background-color:#a1a1a1;
      float: right;
    }
    .mc-messagelist-item-left-mark{
      width: 3px;
      height: 100%;
      float: left;
      background-color: #BCBCBC;
    }

  }

  .mc-messagelist-item-content{
    float: left;
    padding: 15px 0 18px 70px;
    width: 100%;
    cursor: pointer;

    .mc-messagelist-date{
      float: right;
      margin: 2px 15px 0 0px;
      text-align: right;
      color: #a1a1a1;
      font-size: 13px;


      .mc-messagelist-info-button{
        outline: 0;
        font-size: 12px;
        color: #a1a1a1;
        padding: 0px 7px 0 8px;
        text-decoration: none;

        .mc-icon-caret-down{
          font-size: 9px;
          padding: 0 2px 0 2px;
        }
        &:hover{
          color: black;
        }
      }

    }
    .mc-messagelist-headline{
        font-size: 14px;
        float: left;
        width: 100%;
        margin: -22px 0 0 0;
        padding: 0 15px 0 0;
        font-weight: 500;
        color: #232323;
    }
    .mc-messagelist-content{
      font-size: 13px;
      color: #a1a1a1;
      float: left;
      width: 100%;
      height: 20px;
      padding: 2px 15px 0 0;
      overflow: hidden;
           
    }

    .mc-messagelist-deatil-button{
      font-size: 13px;
      padding: 0px;
      color: #a1a1a1;
      text-decoration: none;
      outline:0;
      width: 20px;

      &:hover{
        color: black;
      }
    }
    .mc-messagelist-reply-button{
      font-size: 12px;
      padding: 4px 0 0 0px;
      text-decoration: none;
    }

    .mc-messagelist-reply-dropdown {
      left: 0;
      min-width: 80px;
    }

    .popover{
      max-width: 502px;
      min-width: 400px;
      font-size: 13px;
      color: black;
      span{
        color: #a1a1a1;
      }

      .table{
        margin-bottom: 10px;
        border: 1px solid white;
      }
      .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
          border: 1px solid white;
          border-right-width:0px;
          border-left-width:0px;
      }
    }
  }

  .mc-messagelist-item-body{
    div,span{
      font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    }
    blockquote{
      font-size: 14px;
    }
    font-size: 14px;
    float: left;
    width: 100%;
    height: auto;
    padding: 5px 15px 20px 15px;    
    color: #232323;
  }
}

.divider{
  height: 1px;
  overflow: hidden;
  background-color: #F4F4F4;
  float: left;
  width: 100%;
}

.mc-message-list-dropdown{
  width: 10px;
}

#mc-label-select{
  width: 228px;
}

#mc-message-blockquote-mark{
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  background-color: #e7e7e7;
  line-height: 4px;
  padding: 0px 6px 0px 6px;
  vertical-align: middle;
  border-radius: 2px;
  height: 12px;
  color: #a1a1a1;
  margin: 10px 0;
  cursor:pointer;
}

