.mc-modal{
  @extend .panel;
  @extend .panel-default;
  margin: 0 auto;
  width: 560px;
  box-shadow: 0px 0px 8px #494949;
  border: none;
  margin-top: 120px;
}

.mc-modal-big{
  width: 720px;
}

.mc-modal-header{
  @extend .panel-heading;
  height: 46px;
  .mc-modal-title{
    font-size:14px;
    float:left;
    line-height:25px
  }
  button{
    float:right;
    font-size:14px;
    margin: -2px -4px 0 0;
  }
}

.mc-modal-body{
  @extend .panel-body;

  .mc-modal-body-left{
    float: left;
    width: 100px;
    border-right: 1px solid #E3E3E3;

  }
  .mc-modal-body-right{
    float:left;
  }
}

.mc-modal-body-twocolumn {
  @extend .panel-body;
  padding: 0px;

  .mc-modal-body-left{
    float: left;
    padding: 15px;
    border-right: 1px solid #E3E3E3;
    height: 360px;

    .list-group-item{
      border:none;
      border-radius: 4px;
      .active{
        border-raidus:4px;
      }
    }
  }
  .mc-modal-body-right{
    padding: 15px;
    overflow-y:scroll;

    .mc-form-group {
      line-height:34px;
      height:34px;
      font-weight:bold;
      margin-top:10px;
      margin-bottom:10px;
      text-align:right;
    }
    .mc-form-table-noline {
      line-height:34px;
      margin-top:10px;
      margin-bottom:10px;
      text-align: left;
      padding: none;

      .text-grey {
        color:#838383;
      }
      .text-normal {
        color: #000;
      }
      .text-bold {
        font-weight: bold;
      }
    }
  }
}

.mc-modal-footer{
  @extend .panel-footer;
  height: 60px;
  background-color:white;
  border-style: none;
  padding: 10px;
  .mc-modal-footer-left{
    float:left;
    .mc-button-nobg{
      font-size: 17px;
      margin: 2px 2px 0 2px;
    }
  }

  .mc-modal-footer-right{
    float:right;
    button{
      margin: 3px 2px 0 2px;    
    }
  }
}

.mc-modal-signature-editor{
  
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  padding: 6px 12px;
  font-size: 14px;

  &:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    
  }
}