.mc-notification{
  background-color:#FFF3C3;
  box-shadow: 0px 0px 6px #A8A8A8;
  padding: 12px 25px;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  font-size:14px;
  margin:14px;

  button{
    padding: 0px 0px 0 12px;
    line-height: 14px;
    font-size: 14px;
    border-style: none;
  }
}

#toast-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 99999;
}

.mc-notification-center{
  width: 250px;
  background-color:#FFF3C3;
  box-shadow: 0px 0px 6px #A8A8A8;
  padding: 12px 25px;
  border-radius: 4px;
  text-align: center;
  font-size:14px;
  margin:14px auto;

  button{
    padding: 0px 0px 0 12px;
    line-height: 14px;
    font-size: 14px;
    border-style: none;
  }
}