.mc-replybox{  
  float:left;
  width:100%;
  padding: 20px 20px 10px 20px;

  .mc-replysection{
    float:left;
    box-shadow: 0px 0px 4px #A8A8A8;
    background-color: white;
    width: 100%;

    .mc-replybox-unactive{
      cursor: pointer;
      &:hover{
        background-color:$mc-color-lightyellow;
      }
    }

    .mc-replbox-body{
      height: 156px;
      width: 100%;
      padding: 0 15px;

      .mc-replybox-editor{
        width: 100%;
        height: 100%;
        font-size:14px;
      }
    }
  }
}

.mc-replybox-header{
  height:70px;

  .mc-replybox-header-info{
    float: left;
    height: 70px;
    padding: 13px 0 0 0px;

    .mc-replybox-header-replystatus{
      button{
        padding:0px;
      }
    }
    .mc-replybox-header-recipients{
      font-size:14px;
    }
  }

  .mc-avatar-mid{
    float:left;
    margin:15px;
  }

  .mc-replybox-header-right{
    float:right;
    margin: 14px;
  }

  .mc-replybox-placeholder{
      float: left;
      margin: 24px 0 0 5px;
      font-size: 14px;
      color:#999999;
  }
}


