div{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1px;
    -webkit-font-smoothing: subpixel-antialiased;
}

strong{
    font-weight: 500;
}

.mc-text-pagetitle{
	font-size:20px;
}

.mc-text-headline{
	font-size:14px;
}

.mc-text-content{
	font-size:13px;
}

.mc-text-small{
	font-size:12px;
}
