<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      Mailcup &middot; Label
    </title>

    <link rel="stylesheet" type="text/css" href="/primer/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/primer/docs.css">
    <script type="text/javascript" src="/primer/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/primer/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- 导航 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/primer/">Mailcup</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/primer/styleguide">Docs</a></li>
            <li ><a href="/primer/about">About</a></li>
            <li><a href="https://github.com/zhaokun/primer" target="_blank">GitHub</a></li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- /导航 -->


    

    <div class="container-fluid">
      <div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      
        <h4>Rules</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/styleguide/">
    Styleguide
  </a></li>
</ul>

<h4>Foundation</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/layout/">
    Layout
  </a></li>
  <li class=""><a href="/primer/color/">
    Color
  </a></li>
  <li class=""><a href="/primer/typography/">
    Typography
  </a></li>
  <li class=""><a href="/primer/icon/">
    Icon
  </a></li>
</ul>

<h4>Components</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/avatar/">
    Avatar
  </a></li>
  <li class=""><a href="/primer/button/">
    Button
  </a></li>
  <li class=""><a href="/primer/textfield/">
    Textfield
  </a></li>
  <li class=""><a href="/primer/dropdown/">
    Dropdown
  </a></li>
  <li class=""><a href="/primer/notification/">
    Notification
  </a></li>
  <li class=""><a href="/primer/modal/">
    Modal
  </a></li>
  <li class="active"><a href="/primer/label/">
    Label
  </a></li>
  <li class=""><a href="/primer/checkbox/">
    Checkbox
  </a></li>
  <li class=""><a href="/primer/form/">
    Form
  </a></li>
  <li class=""><a href="/primer/table/">
    Table
  </a></li>
  <li class=""><a href="/primer/token/">
    Token
  </a></li>
  <li class=""><a href="/primer/attachment/">
    Attachment
  </a></li>
</ul>

<h4>Patterns</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/left-menu/">
    Left Menu
  </a></li>
  <li class=""><a href="/primer/navbar/">
    Navbar
  </a></li>
  <li class=""><a href="/primer/threadlist/">
    Threadlist
  </a></li>
  <li class=""><a href="/primer/messagelist/">
    Messagelist
  </a></li>
  <li class=""><a href="/primer/compose/">
    Compose
  </a></li>
  <li class=""><a href="/primer/replybox/">
    Replybox
  </a></li>
</ul>

      
    </div>
    <div class="col-md-9 markdown-body">
      <h1 class="page-title">
        Label
      </h1>
      <div class="markdown-body">
        <p>Label 提供了 Mailcup 所有的Mailcup标签显示方案</p>

<ul id="markdown-toc">
  <li><a href="#label" id="markdown-toc-label">基础label样式</a></li>
  <li><a href="#label-1" id="markdown-toc-label-1">Label可用变体</a></li>
  <li><a href="#token" id="markdown-toc-token">Token</a></li>
</ul>

<h2 id="label">基础label样式</h2>
<ul>
  <li>使用label最基础的方法</li>
  <li>在label的使用中，默认样式中的文字大小是10px</li>
  <li><code>mc-label-*</code>的遵循了设计图设计，只有文字为10px一种</li>
</ul>

<div class="docs-example clearfix"><span class="mc-label">Label</span></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label"</span><span class="nt">&gt;</span>Label<span class="nt">&lt;/span&gt;</span></code></pre></div>

<h2 id="label-1">Label可用变体</h2>
<ul>
  <li>用下面的任何一个类即可改变标签的外观</li>
</ul>

<div class="docs-example clearfix"><span class="mc-label">Label</span>
<span class="mc-label-primary">Primary</span>
<span class="mc-label-danger">Danger</span>
<span class="mc-label-info">Info</span>
<span class="mc-label-warning">Warning</span>
<span class="mc-label-success">Success</span></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label"</span><span class="nt">&gt;</span>Label<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span></code></pre></div>

<h2 id="token">Token</h2>
<ul>
  <li>结合angular和angular-selectize使用</li>
</ul>

<div class="docs-example clearfix"><link rel="stylesheet" href="../bower_components/selectize/dist/css/selectize.bootstrap3.css " />
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-selectize2/dist/selectize.js"></script>

<div ng-app="mailcup" ng-controller="mailcupCtrl">
  <selectize config="myConfig" options="myOptions" ng-model="myModel"></selectize>
</div>

<script type="text/javascript">
angular.module('mailcup', ['selectize']).controller('mailcupCtrl', function($scope) {
  $scope.myModel = 1;

  $scope.myOptions = [
    {address: 'chun@mailcup.com', name: 'Spectrometer'},
    {address: 'zhao@mailcup.com', name: 'Star Chart'},
    {address: 'chai@mailcup.com', name: 'Three'},
    {address: 'gb@mailcup.com', name: 'Second'},
    {address: 'ck@mailcup.com', name: 'Four five'}
  ];

  $scope.myConfig = {
    create: true,
    valueField: 'address',
    labelField: 'name',
    delimiter: '|',
    searchField: ['name', 'address'],
    placeholder: 'Input emial address',
    onInitialize: function(selectize){
      // receives the selectize object as an argument
    },
    render: {
        item: function(item, escape) {
          // console.log('item', item)
          return '<div>' +
              (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
              (item.address ? '<span class="email">' + escape('<' + item.address + '>') + '</span>' : '') +
          '</div>';
        },
        option: function(item, escape) {
          var label = item.name || item.address;
          var caption = item.name ? item.address : null;
          return '<div>' +
              '<span class="name" style="color:#000">' + escape(label) + '</span>' +
              (caption ? '<span class="email" style="color:#000">' + escape('<' + caption + '>') + '</span>' : '') +
          '</div>';
        }
      },
    // maxItems: 5
  };
});
</script></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"../bower_components/selectize/dist/css/selectize.bootstrap3.css "</span><span class="nt">&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/jquery/dist/jquery.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/selectize/dist/js/standalone/selectize.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/angular/angular.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/angular-selectize2/dist/selectize.js"</span><span class="nt">&gt;&lt;/script&gt;</span>

<span class="nt">&lt;div</span> <span class="na">ng-app=</span><span class="s">"mailcup"</span> <span class="na">ng-controller=</span><span class="s">"mailcupCtrl"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;selectize</span> <span class="na">config=</span><span class="s">'myConfig'</span> <span class="na">options=</span><span class="s">'myOptions'</span> <span class="na">ng-model=</span><span class="s">"myModel"</span><span class="nt">&gt;&lt;/selectize&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
<span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'mailcup'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'selectize'</span><span class="p">]).</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'mailcupCtrl'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">myModel</span> <span class="o">=</span> <span class="mi">1</span><span class="p">;</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">myOptions</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'chun@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Spectrometer'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'zhao@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Star Chart'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'chai@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Three'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'gb@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Second'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'ck@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Four five'</span><span class="p">}</span>
  <span class="p">];</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">myConfig</span> <span class="o">=</span> <span class="p">{</span>
    <span class="na">create</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
    <span class="na">valueField</span><span class="p">:</span> <span class="s1">'address'</span><span class="p">,</span>
    <span class="na">labelField</span><span class="p">:</span> <span class="s1">'name'</span><span class="p">,</span>
    <span class="na">delimiter</span><span class="p">:</span> <span class="s1">'|'</span><span class="p">,</span>
    <span class="na">searchField</span><span class="p">:</span> <span class="p">[</span><span class="s1">'name'</span><span class="p">,</span> <span class="s1">'address'</span><span class="p">],</span>
    <span class="na">placeholder</span><span class="p">:</span> <span class="s1">'Input emial address'</span><span class="p">,</span>
    <span class="na">onInitialize</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">selectize</span><span class="p">){</span>
      <span class="c1">// receives the selectize object as an argument</span>
    <span class="p">},</span>
    <span class="na">render</span><span class="p">:</span> <span class="p">{</span>
        <span class="na">item</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">item</span><span class="p">,</span> <span class="nx">escape</span><span class="p">)</span> <span class="p">{</span>
          <span class="c1">// console.log('item', item)</span>
          <span class="k">return</span> <span class="s1">'&lt;div&gt;'</span> <span class="o">+</span>
              <span class="p">(</span><span class="nx">item</span><span class="p">.</span><span class="nx">name</span> <span class="p">?</span> <span class="s1">'&lt;span class="name"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="nx">item</span><span class="p">.</span><span class="nx">name</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="p">:</span> <span class="s1">''</span><span class="p">)</span> <span class="o">+</span>
              <span class="p">(</span><span class="nx">item</span><span class="p">.</span><span class="nx">address</span> <span class="p">?</span> <span class="s1">'&lt;span class="email"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="s1">'&lt;'</span> <span class="o">+</span> <span class="nx">item</span><span class="p">.</span><span class="nx">address</span> <span class="o">+</span> <span class="s1">'&gt;'</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="p">:</span> <span class="s1">''</span><span class="p">)</span> <span class="o">+</span>
          <span class="s1">'&lt;/div&gt;'</span><span class="p">;</span>
        <span class="p">},</span>
        <span class="na">option</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">item</span><span class="p">,</span> <span class="nx">escape</span><span class="p">)</span> <span class="p">{</span>
          <span class="kd">var</span> <span class="nx">label</span> <span class="o">=</span> <span class="nx">item</span><span class="p">.</span><span class="nx">name</span> <span class="o">||</span> <span class="nx">item</span><span class="p">.</span><span class="nx">address</span><span class="p">;</span>
          <span class="kd">var</span> <span class="nx">caption</span> <span class="o">=</span> <span class="nx">item</span><span class="p">.</span><span class="nx">name</span> <span class="p">?</span> <span class="nx">item</span><span class="p">.</span><span class="nx">address</span> <span class="p">:</span> <span class="kc">null</span><span class="p">;</span>
          <span class="k">return</span> <span class="s1">'&lt;div&gt;'</span> <span class="o">+</span>
              <span class="s1">'&lt;span class="name" style="color:#000"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="nx">label</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="o">+</span>
              <span class="p">(</span><span class="nx">caption</span> <span class="p">?</span> <span class="s1">'&lt;span class="email" style="color:#000"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="s1">'&lt;'</span> <span class="o">+</span> <span class="nx">caption</span> <span class="o">+</span> <span class="s1">'&gt;'</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="p">:</span> <span class="s1">''</span><span class="p">)</span> <span class="o">+</span>
          <span class="s1">'&lt;/div&gt;'</span><span class="p">;</span>
        <span class="p">}</span>
      <span class="p">},</span>
    <span class="c1">// maxItems: 5</span>
  <span class="p">};</span>
<span class="p">});</span>
<span class="nt">&lt;/script&gt;</span></code></pre></div>

<ul>
  <li>出现在需要输入联系人的Textfield里</li>
  <li>双击可变为 email 地址进行编辑</li>
  <li>可选中，可拖拽交换位置(如果实现成本太高可以先不做)</li>
</ul>

      </div>
    </div>
  </div>
</div>
<!-- 

<div class="columns docs-layout">
  <div class="one-fourth column">
    
      <h4>Rules</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/styleguide/">
    Styleguide
  </a></li>
</ul>

<h4>Foundation</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/layout/">
    Layout
  </a></li>
  <li class=""><a href="/primer/color/">
    Color
  </a></li>
  <li class=""><a href="/primer/typography/">
    Typography
  </a></li>
  <li class=""><a href="/primer/icon/">
    Icon
  </a></li>
</ul>

<h4>Components</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/avatar/">
    Avatar
  </a></li>
  <li class=""><a href="/primer/button/">
    Button
  </a></li>
  <li class=""><a href="/primer/textfield/">
    Textfield
  </a></li>
  <li class=""><a href="/primer/dropdown/">
    Dropdown
  </a></li>
  <li class=""><a href="/primer/notification/">
    Notification
  </a></li>
  <li class=""><a href="/primer/modal/">
    Modal
  </a></li>
  <li class="active"><a href="/primer/label/">
    Label
  </a></li>
  <li class=""><a href="/primer/checkbox/">
    Checkbox
  </a></li>
  <li class=""><a href="/primer/form/">
    Form
  </a></li>
  <li class=""><a href="/primer/table/">
    Table
  </a></li>
  <li class=""><a href="/primer/token/">
    Token
  </a></li>
  <li class=""><a href="/primer/attachment/">
    Attachment
  </a></li>
</ul>

<h4>Patterns</h4>

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="/primer/left-menu/">
    Left Menu
  </a></li>
  <li class=""><a href="/primer/navbar/">
    Navbar
  </a></li>
  <li class=""><a href="/primer/threadlist/">
    Threadlist
  </a></li>
  <li class=""><a href="/primer/messagelist/">
    Messagelist
  </a></li>
  <li class=""><a href="/primer/compose/">
    Compose
  </a></li>
  <li class=""><a href="/primer/replybox/">
    Replybox
  </a></li>
</ul>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      Label
    </h1>
    <div class="markdown-body">
      <p>Label 提供了 Mailcup 所有的Mailcup标签显示方案</p>

<ul id="markdown-toc">
  <li><a href="#label" id="markdown-toc-label">基础label样式</a></li>
  <li><a href="#label-1" id="markdown-toc-label-1">Label可用变体</a></li>
  <li><a href="#token" id="markdown-toc-token">Token</a></li>
</ul>

<h2 id="label">基础label样式</h2>
<ul>
  <li>使用label最基础的方法</li>
  <li>在label的使用中，默认样式中的文字大小是10px</li>
  <li><code>mc-label-*</code>的遵循了设计图设计，只有文字为10px一种</li>
</ul>

<div class="docs-example clearfix"><span class="mc-label">Label</span></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label"</span><span class="nt">&gt;</span>Label<span class="nt">&lt;/span&gt;</span></code></pre></div>

<h2 id="label-1">Label可用变体</h2>
<ul>
  <li>用下面的任何一个类即可改变标签的外观</li>
</ul>

<div class="docs-example clearfix"><span class="mc-label">Label</span>
<span class="mc-label-primary">Primary</span>
<span class="mc-label-danger">Danger</span>
<span class="mc-label-info">Info</span>
<span class="mc-label-warning">Warning</span>
<span class="mc-label-success">Success</span></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label"</span><span class="nt">&gt;</span>Label<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-primary"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-danger"</span><span class="nt">&gt;</span>Danger<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-info"</span><span class="nt">&gt;</span>Info<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-warning"</span><span class="nt">&gt;</span>Warning<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"mc-label-success"</span><span class="nt">&gt;</span>Success<span class="nt">&lt;/span&gt;</span></code></pre></div>

<h2 id="token">Token</h2>
<ul>
  <li>结合angular和angular-selectize使用</li>
</ul>

<div class="docs-example clearfix"><link rel="stylesheet" href="../bower_components/selectize/dist/css/selectize.bootstrap3.css " />
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-selectize2/dist/selectize.js"></script>

<div ng-app="mailcup" ng-controller="mailcupCtrl">
  <selectize config="myConfig" options="myOptions" ng-model="myModel"></selectize>
</div>

<script type="text/javascript">
angular.module('mailcup', ['selectize']).controller('mailcupCtrl', function($scope) {
  $scope.myModel = 1;

  $scope.myOptions = [
    {address: 'chun@mailcup.com', name: 'Spectrometer'},
    {address: 'zhao@mailcup.com', name: 'Star Chart'},
    {address: 'chai@mailcup.com', name: 'Three'},
    {address: 'gb@mailcup.com', name: 'Second'},
    {address: 'ck@mailcup.com', name: 'Four five'}
  ];

  $scope.myConfig = {
    create: true,
    valueField: 'address',
    labelField: 'name',
    delimiter: '|',
    searchField: ['name', 'address'],
    placeholder: 'Input emial address',
    onInitialize: function(selectize){
      // receives the selectize object as an argument
    },
    render: {
        item: function(item, escape) {
          // console.log('item', item)
          return '<div>' +
              (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
              (item.address ? '<span class="email">' + escape('<' + item.address + '>') + '</span>' : '') +
          '</div>';
        },
        option: function(item, escape) {
          var label = item.name || item.address;
          var caption = item.name ? item.address : null;
          return '<div>' +
              '<span class="name" style="color:#000">' + escape(label) + '</span>' +
              (caption ? '<span class="email" style="color:#000">' + escape('<' + caption + '>') + '</span>' : '') +
          '</div>';
        }
      },
    // maxItems: 5
  };
});
</script></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"../bower_components/selectize/dist/css/selectize.bootstrap3.css "</span><span class="nt">&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/jquery/dist/jquery.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/selectize/dist/js/standalone/selectize.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/angular/angular.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"../bower_components/angular-selectize2/dist/selectize.js"</span><span class="nt">&gt;&lt;/script&gt;</span>

<span class="nt">&lt;div</span> <span class="na">ng-app=</span><span class="s">"mailcup"</span> <span class="na">ng-controller=</span><span class="s">"mailcupCtrl"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;selectize</span> <span class="na">config=</span><span class="s">'myConfig'</span> <span class="na">options=</span><span class="s">'myOptions'</span> <span class="na">ng-model=</span><span class="s">"myModel"</span><span class="nt">&gt;&lt;/selectize&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span><span class="nt">&gt;</span>
<span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'mailcup'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'selectize'</span><span class="p">]).</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'mailcupCtrl'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">myModel</span> <span class="o">=</span> <span class="mi">1</span><span class="p">;</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">myOptions</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'chun@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Spectrometer'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'zhao@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Star Chart'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'chai@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Three'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'gb@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Second'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">address</span><span class="p">:</span> <span class="s1">'ck@mailcup.com'</span><span class="p">,</span> <span class="na">name</span><span class="p">:</span> <span class="s1">'Four five'</span><span class="p">}</span>
  <span class="p">];</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">myConfig</span> <span class="o">=</span> <span class="p">{</span>
    <span class="na">create</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
    <span class="na">valueField</span><span class="p">:</span> <span class="s1">'address'</span><span class="p">,</span>
    <span class="na">labelField</span><span class="p">:</span> <span class="s1">'name'</span><span class="p">,</span>
    <span class="na">delimiter</span><span class="p">:</span> <span class="s1">'|'</span><span class="p">,</span>
    <span class="na">searchField</span><span class="p">:</span> <span class="p">[</span><span class="s1">'name'</span><span class="p">,</span> <span class="s1">'address'</span><span class="p">],</span>
    <span class="na">placeholder</span><span class="p">:</span> <span class="s1">'Input emial address'</span><span class="p">,</span>
    <span class="na">onInitialize</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">selectize</span><span class="p">){</span>
      <span class="c1">// receives the selectize object as an argument</span>
    <span class="p">},</span>
    <span class="na">render</span><span class="p">:</span> <span class="p">{</span>
        <span class="na">item</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">item</span><span class="p">,</span> <span class="nx">escape</span><span class="p">)</span> <span class="p">{</span>
          <span class="c1">// console.log('item', item)</span>
          <span class="k">return</span> <span class="s1">'&lt;div&gt;'</span> <span class="o">+</span>
              <span class="p">(</span><span class="nx">item</span><span class="p">.</span><span class="nx">name</span> <span class="p">?</span> <span class="s1">'&lt;span class="name"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="nx">item</span><span class="p">.</span><span class="nx">name</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="p">:</span> <span class="s1">''</span><span class="p">)</span> <span class="o">+</span>
              <span class="p">(</span><span class="nx">item</span><span class="p">.</span><span class="nx">address</span> <span class="p">?</span> <span class="s1">'&lt;span class="email"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="s1">'&lt;'</span> <span class="o">+</span> <span class="nx">item</span><span class="p">.</span><span class="nx">address</span> <span class="o">+</span> <span class="s1">'&gt;'</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="p">:</span> <span class="s1">''</span><span class="p">)</span> <span class="o">+</span>
          <span class="s1">'&lt;/div&gt;'</span><span class="p">;</span>
        <span class="p">},</span>
        <span class="na">option</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">item</span><span class="p">,</span> <span class="nx">escape</span><span class="p">)</span> <span class="p">{</span>
          <span class="kd">var</span> <span class="nx">label</span> <span class="o">=</span> <span class="nx">item</span><span class="p">.</span><span class="nx">name</span> <span class="o">||</span> <span class="nx">item</span><span class="p">.</span><span class="nx">address</span><span class="p">;</span>
          <span class="kd">var</span> <span class="nx">caption</span> <span class="o">=</span> <span class="nx">item</span><span class="p">.</span><span class="nx">name</span> <span class="p">?</span> <span class="nx">item</span><span class="p">.</span><span class="nx">address</span> <span class="p">:</span> <span class="kc">null</span><span class="p">;</span>
          <span class="k">return</span> <span class="s1">'&lt;div&gt;'</span> <span class="o">+</span>
              <span class="s1">'&lt;span class="name" style="color:#000"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="nx">label</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="o">+</span>
              <span class="p">(</span><span class="nx">caption</span> <span class="p">?</span> <span class="s1">'&lt;span class="email" style="color:#000"&gt;'</span> <span class="o">+</span> <span class="nx">escape</span><span class="p">(</span><span class="s1">'&lt;'</span> <span class="o">+</span> <span class="nx">caption</span> <span class="o">+</span> <span class="s1">'&gt;'</span><span class="p">)</span> <span class="o">+</span> <span class="s1">'&lt;/span&gt;'</span> <span class="p">:</span> <span class="s1">''</span><span class="p">)</span> <span class="o">+</span>
          <span class="s1">'&lt;/div&gt;'</span><span class="p">;</span>
        <span class="p">}</span>
      <span class="p">},</span>
    <span class="c1">// maxItems: 5</span>
  <span class="p">};</span>
<span class="p">});</span>
<span class="nt">&lt;/script&gt;</span></code></pre></div>

<ul>
  <li>出现在需要输入联系人的Textfield里</li>
  <li>双击可变为 email 地址进行编辑</li>
  <li>可选中，可拖拽交换位置(如果实现成本太高可以先不做)</li>
</ul>

    </div>
  </div>
</div> -->


      <footer style="margin:20px auto;text-align:center;">
        &copy; Just 2015.
      </footer>
    </div>
  </body>
</html>
